body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh; /*EL CONTROLADOR OCUPA TODA LA PANTALLA*/
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  text-align: center;
}

.title-content{
  display: flex;
  background-color: rgb(255, 166, 0);;
  justify-content: center;
  border: 2px solid black;
}

.main-content {
  flex: 1; /*ocupa todo el espacio restante disponible*/
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  border: 5px solid black;
  background-color: rgb(158, 221, 158);
  gap: 60px;
}

.detail-container{

  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 20px;

}

.user-list{
  width: 300px;
}




button{
  width: 200px;
  height: 50px;
  background-color: #ccc;
}
h1{

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-width: bold;
}